.Section
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.TitleList
{
    font-family: 'Space Mono', monospace;
    color: #222;
    height: 70px;
    text-align: center;
    font-size: 25px;
    color: #222;
    /* color: rgb(150, 169, 254); */
}

.Section ul
{
    width: 90%;
    display: grid;
    gap: 30px;
    margin-bottom: 100px;
}