.Button 
{
    font-size: 40px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    background: #222;
    color: rgb(237, 237, 237);
    position: fixed;
    right: 40px;
    bottom: 30px;
    transition: .5s;
    z-index: 1;
}

.Button:hover
{
    transform: rotate(180deg);
}
